<%- include("partials/header") -%>
<h1>Compose</h1>
<form method="post" action="/compose">
    <label for="text">Title</label>
    <br>
    <input class="form-control" name="newData" type="text" autocomplete="off">
    <br>
    <label for="text">Post</label>
      <br>
      <textarea id="text" name="postBody" rows="6" cols="30" class="form-control" autocomplete="off"></textarea>
      <br/>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>